<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="app.grapheneos.pdfviewer"
        android:targetSandboxVersion="2">
    <original-package android:name="org.grapheneos.pdfviewer" />

    <application>
        <meta-data android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
        <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="false" />
    </application>
</manifest>
